
/* Page Info */ 
.pageInfoWrapper{
    flex-basis: 45px;
    flex-grow:0; 
}

.pageInfoWrapper{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
}

.pageInfoWrapper div {

    background-color: #56494C;
    padding: 10px;
    color: white;
    font-weight: 500;
    border: solid 2px #F4F1DE;
    border-radius: 0px 10px 10px 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    position: fixed;
    top:50vh;
}

.pageInfoWrapper div{
    display: flex;
    flex-direction:row; 
    flex-wrap:nowrap; 
    gap:10px;
}

.pageInfoWrapper img{
    border-radius: 100%;
    width: 20px;
}